@mixin flexbox($height, $flex-direction: column) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: $flex-direction;
    height: $height;
}

@mixin font_sizes($size_01, $size_02, $size_03) {
    h1 {
        font-size: $size_01;
    }

    h2 {
        font-size: $size_02;
    }

    p {
        font-size: $size_03;
    }
}