@import './config', './mixins', './media-queries';

body {
    background-color: $very_light_gray;
    font-family: 'Poppins', sans-serif;
    color: $grayish_blue;

    h1, h2 {
        color: $very_dark_blue;
    }
}

main {
    height: 100vh;
    padding-bottom: 5vh;

    #header {
        @include flexbox(35%);

        h1 {
            span {
                font-weight: 200;
                display: block;
            }
        }

        p {
            width: 35%;
            text-align: center;
            margin-top: 1.5vh;
        }
    }

    #cards {
        @include flexbox(65%, row);
        gap: 2vw;
        width: 75%;
        margin: auto;

        div[id^="column"] {
            @include flexbox(100%);
            justify-content: space-around;
            width: 30%;
        }

        #column-2 {
            gap: 3.5vh;
        }

        div[id^="card"] {
            @include flexbox(47%);
            justify-content: space-between;
            background-color: $white;
            width: 100%;
            box-shadow: 0 .7vw 1vw -.4vw $cyan;
            border-radius: .5vw;
            padding: 1.7vw;

            h2, p, .icon {
                width: 100%;
            }

            h2 {
                margin-bottom: 1vh;
            }

            .icon {
                height: 32%;

                img {
                    float: right;
                    height: 100%;
                }
            }

            
        }

        #card {
            &-1 {
                border-top: .7vh solid $grayish_blue;
            }
            
            &-2 {
                border-top: .7vh solid $red;
            }
            
            &-3 {
                border-top: .7vh solid $orange;
            }

            &-4 {
                border-top: .7vh solid $blue;
            }
        }
    }
}

footer {
    @include flexbox(10vh);
    text-align: center;

    a {
        text-decoration: none;
        transition: .5s;
        color: inherit;
        color: $very_dark_blue;

        &:hover {
            color: $blue;
            text-decoration: underline;
        }
    }
}